
@charset "utf-8";
/* CSS Document */

body {
    color: black;
    background-color: #EE4920;
    font-family: 'Varela Round', sans-serif;
    margin: 0;
    overflow: hidden;
}
a {
    text-decoration: none;
    font-weight:normal;
    letter-spacing:1pt;
    word-spacing:4pt;
    font-size:16px;
    text-align:left;
    
}

.header{
/*    border: 2px solid white;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-25%) translateY(-160%);
    color: white;
    padding: 0;
    width: 700px;
    text-align: center;
    font-size: 100px;
}

.disc{
/*    border: 2px solid white;*/
    position: absolute;
    width: 700px;
    top: 50%;
    left: 50%;
    transform: translateX(-25%) translateY(-180%);
    text-align: center;
    color: white;
    font-size: 18px;
}

/*link text box*/
.search {
/*    border: 2px solid white;*/
	width: 550px;
    height: 75px;
    border-radius: 5px;
    text-align: center;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-19%) translateY(0%);
	margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    background-color: rgba(255, 255, 255, 0.2);
}

/*home page textbox*/
.ui_field{
    position: absolute;
    left: 12px;
    width: 70%;
    margin: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 0;
    margin-right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    outline: none;
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
    border: 1px solid white; /*important*/
}

.ui_field:focus{
    border: 1px solid #454A4E;
}

.ui_button{
    position: absolute;
    top: 20px;
    left: 419px;
    text-align: center;
    background: #454A4E;
	width: 120px;
    font-size: 18px;
    color: white;
    padding: 5px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: 0;
    border: solid #363636 2px;
    text-decoration: none;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: 'Varela Round', sans-serif;
    cursor: pointer;
}
#pname{
    width: 336px;
    height: 60px;
    text-align: center;
    font-size: 46px;
    font-weight: normal;
    background: transparent;
    border-radius: 5px;
    color: black;
    text-decoration: none;
}

#con{
    font-size : 23px;
    background: transparent;
    position: absolute;
    top: auto;
    margin-top: 12px;
    width: 25%;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    transition:left 0.3s linear;

}
button{
    background-color: white;
     width: 280px;
    margin-left: 10px;
    margin-top: 0px;
    outline: hidden;
    padding: 10px;
    border: solid black 2px;
    text-decoration: none;
    font-weight:normal;
    letter-spacing:0pt;
    word-spacing:1pt;
    font-size:16px;
    text-align:left;
    font-family:impact, sans-serif;
}

.find_button{
    background-image: url(button_epng);
    width: 280px;
    margin-left: 10px;
    margin-top: 5px;
    outline: hidden;
    padding: 10px;
    border: solid black 2px;
    text-decoration: none;
    font-weight:normal;
    letter-spacing:0pt;
    word-spacing:1pt;
    font-size:16px;
    text-align:left;
}

#sidebar.visible{
	left:0px;
	transition:left 0.3s linear;
}

ul{
	margin:0px;
	padding:0px;
	
}

ul li{
	list-style:none;
}

ul li a{
    color: #447dd3;
	background:white;
	border-bottom:1px solid #111;
	display:block;
	width:100%;
	height: 30px;
	text-align: left;
	padding:10px;
	text-decoration: none;
}
ul li a:hover{
	background:#FFFFFF;
	color:black;
	border-bottom:1px solid #111;
	display:block;
	
	height: 30px;
	text-align: left;
	padding:10px;
	text-decoration: none;
}

#addnewfield{
/*    border: 2px solid black;*/
    height: 58px;
    padding: 0;
	margin-left: 6px;
	margin-top: 20px;
    position: inherit;
}
#addnewbutton{
	color: white;
	font-size: 20px;
	outline:thick; 
	width: 60px;
	height: 60px;
	padding: 0;
    position:inherit;
}

/*playlist*/

#playlist{
    float: left;
    width: 25%;
    height: 650px;
    background-color: white;
    color: #454A4E;
}

#playlist p{
    text-align: center;
}